@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">


    <div class="tabs">
        <button type="button" class="btn btn-default active" data-tabid="1">Who</button>

        <button type="button" class="btn btn-default" data-tabid="2">What</button>

        <button type="button" class="btn btn-default" data-tabid="3">Why</button>

        <button type="button" class="btn btn-default" data-tabid="4">How</button>
        <button type="button" class="btn btn-default" data-tabid="5">Where</button>
        <div id="tab1" class="panel">
            <h3>Who</h3>
            <p>Bacon ipsum dolor amet drum doner consectetur pork ea, voluptate turkey strip steak hamburger velit adipisicing tempor aute ham hock. Culpa venison cow sed, corned beef sausage shankle non velit labore ham. Velit ipsum eu swine in alcatra consequat pork chop laboris strip steak sirloin sed salami cillum. Officia ex sausage pancetta porchetta pork loin ribeye corned beef adipisicing boudin frankfurter eiusmod. Ea id bacon eiusmod tenderloin tempor mollit t-bone nulla in ipsum consequat sint nostrud. Beef flank porchetta fugiat, pastrami bresaola sint bacon occaecat consectetur dolore et duis. Pastrami meatloaf in ea, pork rump chicken ball tip tenderloin fugiat meatball.</p>
        </div>

        <div id="tab2" class="panel hide">
            <h3>What</h3>
            <p>Bacon ipsum dolor amet drumstick doner consetur pork ea, voluptate turkey strip steak hamburger velit adipisicing tempor aute ham hock. Culpa venison cow sed, corned beef sausage shankle non velit labore ham. Velit ipsum eu swine in alcatra consequat pork chop laboris strip steak sirloin sed salami cillum. Officia ex sausage pancetta porchetta pork loin ribeye corned beef adipisicing boudin frankfurter eiusmod. Ea id bacon eiusmod tenderloin tempor mollit t-bone nulla in ipsum consequat sint nostrud. Beef flank porchetta fugiat, pastrami bresaola sint bacon occaecat consectetur dolore et duis. Pastrami meatloaf in ea, pork rump chicken ball tip tenderloin fugiat meatball.</p>
        </div>


        <div id="tab3" class="panel hide">
            <h3>Why</h3>
            <p>Bacon ipsum dolor amet drumsddtick doner consectetur pork ea, voluptate turkey strip steak hamburger velit adipisicing tempor aute ham hock. Culpa venison cow sed, corned beef sausage shankle non velit labore ham. Velit ipsum eu swine in alcatra consequat pork chop laboris strip steak sirloin sed salami cillum. Officia ex sausage pancetta porchetta pork loin ribeye corned beef adipisicing boudin frankfurter eiusmod. Ea id bacon eiusmod tenderloin tempor mollit t-bone nulla in ipsum consequat sint nostrud. Beef flank porchetta fugiat, pastrami bresaola sint bacon occaecat consectetur dolore et duis. Pastrami meatloaf in ea, pork rump chicken ball tip tenderloin fugiat meatball.</p>
        </div>


        <div id="tab4" class="panel hide">
            <h3>How</h3>
            <p>Bacon idddpsum dolor amet drumstick doner consectetur pork ea, voluptate turkey strip steak hamburger velit adipisicing tempor aute ham hock. Culpa venison cow sed, corned beef sausage shankle non velit labore ham. Velit ipsum eu swine in alcatra consequat pork chop laboris strip steak sirloin sed salami cillum. Officia ex sausage pancetta porchetta pork loin ribeye corned beef adipisicing boudin frankfurter eiusmod. Ea id bacon eiusmod tenderloin tempor mollit t-bone nulla in ipsum consequat sint nostrud. Beef flank porchetta fugiat, pastrami bresaola sint bacon occaecat consectetur dolore et duis. Pastrami meatloaf in ea, pork rump chicken ball tip tenderloin fugiat meatball.</p>
        </div>


        <div id="tab5" class="panel hide">
            <h3>Where</h3>
            <p>Bacon issspsum dolor amet drumstick doner consectetur pork ea, voluptate turkey strip steak hamburger velit adipisicing tempor aute ham hock. Culpa venison cow sed, corned beef sausage shankle non velit labore ham. Velit ipsum eu swine in alcatra consequat pork chop laboris strip steak sirloin sed salami cillum. Officia ex sausage pancetta porchetta pork loin ribeye corned beef adipisicing boudin frankfurter eiusmod. Ea id bacon eiusmod tenderloin tempor mollit t-bone nulla in ipsum consequat sint nostrud. Beef flank porchetta fugiat, pastrami bresaola sint bacon occaecat consectetur dolore et duis. Pastrami meatloaf in ea, pork rump chicken ball tip tenderloin fugiat meatball.</p>
        </div>
    </div>




   
</div>
