
@{
    ViewBag.Title = "Work";
}

<br />
<h1>Our Work</h1>
<div class="container">

    <div class="col-md-6">
        <img src="http://tinyurl.com/qeemlqf" class="img-responsive" />
        <h2>Work Sample 1</h2>
    </div>

    <div class="col-md-6">
        <img src="http://tinyurl.com/qeemlqf" class="img-responsive"/>
        <h2>Work Sample 2</h2>
    </div>

    <div class="col-md-6">
        <img src="http://tinyurl.com/qeemlqf" class="img-responsive" />
        <h2>Work Sample 3</h2>
    </div>

    <div class="col-md-6">
        <img src="http://tinyurl.com/qeemlqf" class="img-responsive" />
        <h2>Work Sample 4</h2>
    </div>

</div>

